<div class="d-flex justify-content-center" style="flex-wrap:wrap;">
    
    <img src="/assets/images/track.jpg" alt="logo" class="logo" style="padding-left:10px;width:80%">

    <div class="about">
        <h5>Here at speedsters we are all about speed, precision and safety. To ensure all of our customers are satisfied we test and tune every bike 
            so you are sure to have the best experience. If you have any questions or would like to test-drive a bike.</h5>
            <h3 style="margin-top: 10px;">Contact Us: jackzieg@gmail.com</h3>
    </div>
    
</div>

