.home-container{
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.welcome-text{
    z-index: 2;
    color:black;
    font-size: 3em;
}

.text{
    font-size: 3em;
    display: flex;
    justify-content: center;
    top:10%;
    width: 100%;
    color: black;

}

.shop-btn{
    margin-left:20px;
    border-radius:5px;
    border:none;
    background-color: red;
    color:white;
}

.featured{
    text-align: center;
    margin-bottom: 50px;
}

.carousel-caption{
    color:black;
}