

<div class="d-flex justify-content-center">
    
    <video playsinline="" autoplay="autoplay" muted="" loop="loop"  class="video">
        <span class="welcome-text">Welcome Speedsters</span>
        <source src="" type="video/webm">
        <source src="https://videos.ctfassets.net/x7j9qwvpvr5s/6Ywwj0Dxg1kSq1wXt7rkco/fb31b1326541bf54a6ada28c0e715210/20211123_PANIGALE_LOOP10SECS_V2.mp4" type="video/mp4">
    </video>
    <div class="text">
        <span>All About Speed</span>
    </div>
    
</div>
