.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: white;

    &.active {
        color: black
    }
}

.logo {
    cursor: pointer;
}

.header{
    display: flex;
}

.navbar-brand{
    margin-right:5px;
    font-size: 2em;
}

.me-auto{
    margin-left:auto !important;
}

