s<header class="d-flex flex-row align-items-center justify-content-between border-bottom fixed-top shadow-sm"  style="background-color: #343a40">
   

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="width: 100%;">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">speedsters</a>
          <img src="/assets/images/logo1.png" alt="logo" class="logo" style="max-height: 40px;" routerLink="/">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/test-error" routerLinkActive="active">Errors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <a routerLink="/basket" class="position-relative">
                <i class="fa fa-shopping-cart" style="color: white; font-size:34px;padding-right: 15px;"></i>
                <div *ngIf="(basketService.basketSource$ | async) as basket">
                  <div class="cart-no">{{getCount(basket.items)}}</div>

                </div> 
              </a>
             <ng-container *ngIf="(accountService.currentUser$ | async) === null">

              <a routerLink="/account/login" class="nav-link my-2 my-sm-0"  style="margin-left:20px;margin-right: 20px;">Login</a>
              <a  routerLink="/account/register" class="nav-link my-2 my-sm-0">Register</a>
             </ng-container>

             <ng-container *ngIf="accountService.currentUser$ | async as user">
              
              <div class="dropdown ms-3 me-3" style="cursor: pointer;" dropdown>
              <a dropdownToggle class="dropdown-toggle">
                <strong>Hi, {{user.displayName}}!</strong>
              </a>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li class="py-1">
                  <a routerLink="/basket" class="dropdown-item"><i class="fa fa-shopping-cart me-3"></i> View Cart</a>
                </li>
                <li class="py-1">
                  <a routerLink="/orders" class="dropdown-item"><i class="fa fa-history me-3"></i> Orders</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="py-1">
                  <a (click)="accountService.logout()" class="dropdown-item"><i class="fa fa-sign-out me-3"></i> Logout</a>
                </li>
              </ul>
              </div>
             </ng-container>
             
            </div>
            
          </div>
        </div>
      </nav>






</header>