.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    top: -12px;
    right: 32px;
}

.dropdown-toggle:hover{
    text-shadow: 0px 0px 10px #fff !important;
}
.links{
    display: flex;

}
a {
    text-decoration: none;
    color: white;

    
}

a.nav-link{
    font-size: 1.5em;
}

a.nav-link:hover{
    text-shadow: 0 0 10px #fff !important;
    color:white;
}

a.navbar-brand:hover{
    text-shadow: 0 0 10px #fff !important;
}

.logo {
    cursor: pointer;
}

.header{
    display: flex;
}

.navbar-brand{
    margin-right:5px;
    font-size: 2em;
}

.me-auto{
    margin-left:auto !important;
}

